-----BEGIN CERTIFICATE-----
MIIC+zCCAeOgAwIBAgIUfYu4ZakkvAm6tbn3sQvKtSi+u4swDQYJKoZIhvcNAQEL
BQAwDTELMAkGA1UEBhMCSVQwHhcNMjQwNTE1MDkyNjUwWhcNMjkwNTE0MDkyNjUw
WjANMQswCQYDVQQGEwJJVDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
ALm9gOKvHySsJqWUFcUTjwG5zowkJGdT7xmm0m4gvF8esc3KYPEW/aeitgGgfOcV
CwexLCoV5ip9bGMWPlNQ2/R1hoB0D9QRVmNUmPBJooqUSFq66PQQglGtwNeKO0IB
0k8NpM98TOmWdj6BjA/o67A4BSb/0lBOovmKwf8AuUzRVG+obzWy37B9+4zZVLjq
ImfkWUbI6H2pB4e421DdjePt+FLIddCKrW/p7wsV4VDvXbVHUc4kDKYOfSeUaM6d
+fqb096520biNK/k2KQTF7zjNwR1vEbttJw8hRNYfKPtjkc/2xYf/FBH1yv5bsNw
/RBsp0NeB7hS77c9rA4arU0CAwEAAaNTMFEwHQYDVR0OBBYEFKwLIxwBE0gJ16BR
5RwtAvm8xV0EMB8GA1UdIwQYMBaAFKwLIxwBE0gJ16BR5RwtAvm8xV0EMA8GA1Ud
EwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggEBADm+sqsvC0p0LRaam9O+wbE8
Rfhr5F4QtYQVZMwa4hWrrJKrDUJWebuRLVBfpZ5ZIUUL/ABpBIvucNzrZxY0DHCf
iyDTDTzCwlBwbI13bh/DgToeLChsYxagsvONxUiQI8U/H+c2asizJ5Xd0LvLWjG3
VLP4W+6Xe4Bqehmx/rjHcwf3EebrNYG7jT8lhb+Jp2jrztv6VDW1+UZQ+6THatUa
t7z0pNW8dOZ2q2LUFapoFf5NqM2jPL4yaCdmchtM55jeZynb4/9CP9KteafJ8UuR
6A9Fd9PHspxHFgULEXZFbT/EHSDZPy2xAxs70DRn+li19kgj1uJNRS1aMr9XJQ4=
-----END CERTIFICATE-----
