* {
  margin: 0;
}

:root {
  --font-color: #050315;
  --bg-color: #f2f1f9;
}

body {
  padding: 1rem;

  font-family: Helvetica, sans-serif;

  color: var(--font-color);
  background-color: var(--bg-color);
}

h1 {
  padding: 1rem 0 2rem 0;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.card {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;

  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.time {
  margin-bottom: 1.5rem;
}

/* Chart */

.chart-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  border-radius: 0.3rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}